{% extends 'base.html' %}

{% block content %}
    <h1>Listado de Productos</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>
                    <img src="imagenes/{{ producto.imagen }}" alt="" width="200px" height="200px">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
